body
   {
   
   inline-size: 20px
        color: rgb(32, 121, 124);
        font-family: arial;
        text-align: center;
        font-size: medium;
        font-size:50px;
        background-color: rgb(166, 240, 221);
   }
   
.ready
{
     color: rgb(38, 0, 255);
}